.search-icon {
    width: 20px;
}

.user-input {
    background-color: transparent;
    border: none;
}

.input-card {
    border: none;
}

.filter {
    border: none;
}

.heading {
    padding-top: 20px;
    padding-left: 30px;
}

.option {
    border: none;
}

.mode-icon {
    width: 20px;
    margin-right: 10px;
}

.list {
    display: flex;
    list-style-type: none;
}

.link {
    text-decoration: none;
}